.contact-content {
    margin-top: 10vh;
}
.contact-title {
    font-size: 5vh;
}

.contact-paragraph {
    font-size: 2.5vh;
}

.contact-links {
    text-decoration: none;
    color: white;
}

.contact-list {
    margin-top: 10px;
    font-size: 2.5vh;
}